#rellenar_informacion{
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.titulo_form{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: $color-violeta;
    text-shadow: 1px 1px black;
}

form{
    position: relative;
    text-align: center;
    font-size: 20px;
    color: $color-violeta;
    text-shadow: 1px 1px black;
    width  : 50%;
    height : auto;
    margin : 5px auto;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
         
}