#rellenar_informacion{
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

form{
    position: relative;
    border: 1px solid black;
    text-align: center;
    font-size: 18px;
    color: $color-violeta;
    text-shadow: 1px 1px black;
    width  : 50%;
    height : auto;
    margin : 5px auto;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
         
}