<<<<<<< HEAD
$color-verdeclaro: #7ccaa5;
$color-violeta: #cf3f80;
$color-azulmorado: #6d96ce;
=======
$color-verdeclaro: #7ccaa5;
$color-violeta: #cf3f80;
$color-azulmorado: #6d96ce;
>>>>>>> f8fef8682c8476d262019a9ad1b7fa6c03dee276
